server:
  port: 8087
  servlet:
    context-path: /notifications

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: shakib.jilani@sakhaglobal.com
    password: shde llwo udxs tmnv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.notification.dto.NotificationRequest
        spring.json.use.type.headers: false

management:
  health:
    mail:
      enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery-server:8761/eureka
  instance:
    prefer-ip-address: true
